{% extends "main_layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <form action="/contact" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="topic" name="topic" placeholder="toppic" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="desc" name="desc" placeholder="Description" type="textarea">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="reset">Reset</button>
    </form>
{% endblock %}