{% extends "base_layout.html" %}

{% block title %}
Rectangle
{% endblock %}

{% block main %}

    <div class="banner" id="home">
        <img src="/static/main_picture.jpeg" alt=" " class="max-w-md">
        <p class="typing-container">
            <span id="sentence" class="sentence"></span>
            <span id="feature-text1"></span>
            <span class="input-cursor"></span>
        </p>
        <div class="slider-info">
            <p>JUST AN ORDINARY PEOPLE
            <p><a>Educations is what survives when what has been learned has been forgotten</a></p>
        </div>
        <!-- <div>
                    <a class="btn btn-primary" href="./services.html">Services</a>
                </div> -->
    </div>
{% endblock %}