{% extends "base_layout.html" %}

{% block title %}
    paralellogram
{% endblock %}

{% block main %}
<div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
    <!-- rumus -->
    <div class="mb-2 border-solid border-grey-light rounded border shadow-sm w-full md:w-1/2 lg:w-1/2">
        <div class="bg-gray-300 px-2 py-3 border-solid border-gray-400 border-b">
            Parallelogram Calculator
        </div>
        <div class="p-3">
                <div class="w-full px-3 pb-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-normal mb-1" for="grid-last-name">
                        Base
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600" type="number" required name="base" id="base" placeholder="Ex. 5" />
                </div>
                <div class="w-full px-3 pb-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-normal mb-1" for="grid-last-name">
                        Height
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600" type="number" required name="height"   id="height" placeholder="Ex. 5"   />
                </div>
                <div class="w-full px-3 pb-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-normal mb-1" for="grid-last-name">
                       Hypotenuse
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600" type="number" required name="hypotenuse" id="hypotenuse" placeholder="Ex. 5"   />
                </div>
                <div class="md:flex px-3 mt-2">
                    <div class="md:w-2/3">
                        <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" onclick="calculate()">
                            Submit
                        </button>
                    </div>
                </div>
        </div>
    </div>

    <!-- result -->
    <div class="mb-2 md:mx-2 lg:mx-2 border-solid border-gray-200 rounded border shadow-sm w-full md:w-1/2 lg:w-1/2">
        <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
            Result
        </div>
        <div class="p-3">
           <table class="w-full">
                <tr class="border-b border-b-1 border-teal-500">
                    <td style="width: 30%;" class="py-2">Base</td>
                    <td>: <span id="outputBase"></span></td>
                </tr>
                <tr class="border-b border-b-1 border-teal-500">
                    <td class="py-2">Height</td>
                    <td>: <span id="outputHeight"></span></td>
                </tr>
                <tr class="border-b border-b-1 border-teal-500">
                    <td class="py-2"> Hypotenuse</td>
                    <td>: <span id="outputHypotenuse"></span></td>
                </tr>
                <tr class="border-b border-b-1 border-teal-500">
                    <td class="py-2">Area</td>
                    <td>: <span id="outputArea"></span></td>
                </tr>
                <tr class="border-b border-b-1 border-teal-500">
                    <td class="py-2">Perimeter</td>
                    <td>: <span id="outputCircumference"></span></td>
                </tr>
           </table>
        </div>
    </div>
</div>

<script>
    // JavaScript code for calculating area and circumference
function calculate() {
    // Get input values from HTML input fields
    const base = document.querySelector('#base').value;
    const height = document.querySelector('#height').value;
    const hypotenuse = document.querySelector('#hypotenuse').value;

    // Calculate area and circumference
    const area = base * height;
    const circumference = 2 * (parseInt(base) + parseInt(hypotenuse));

    // Output results to HTML output fields
    document.querySelector('#outputBase').textContent = base;
    document.querySelector('#outputHeight').textContent = height;
    document.querySelector('#outputHypotenuse').textContent = hypotenuse;
    document.querySelector('#outputArea').textContent = area;
    document.querySelector('#outputCircumference').textContent = circumference;
  }
</script>
{% endblock %}